* {
    margin: 0;
}
a{
    color:#1f2039;
    text-decoration: none;
}

body {
    font-size: 1em;
    background-color: #1f2039;
}
header a{
    display: flex;
    flex-direction:row;
    justify-content:end;
    margin: 15px;
}
.accueil-intro,
div{
text-align: center;
color: white;
}
.image-accueil{
    display: flex;
    justify-content:center;  
    height: 150px;
    margin: 2em;
    
}


header,
footer {
    padding: 20px 50px;
    background-color: floralwhite;
}


nav
a {

    margin-left: 30px;

}
