* {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
}

a {
    color: #242424;
    text-decoration: none;
}


h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #f9f8ff;
}

p {

    color: #f9f8ff;
}

header,
footer {
    background-color: ghostwhite;
    padding: 20px 50px;
}



section {
    padding: 80px;
}



footer,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-right: 30px;
}

.accueil-photos {
    background-color: floralwhite;
    padding: 80px;
}

.accueil-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.accueil-photos div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.accueil-introduction {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin: auto;
}

.accueil-introduction img {
    padding-left: 200px;

}

.accueil-main {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin: auto;
}

.accueil-main img {

    padding-left: 5em;

}

.accueil-card {
    background-color: floralwhite;
    padding: 80px;
}

.accueil-card h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.accueil-card div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.center {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-color: floralwhite;
}

.article-card {
    width: 350px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
}

.article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
    margin: 0;
}

.article-card .date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
}

.article-card .title {
    font-size: 17px;
    color: #fff;
}

.card p {
    color: black;
    text-align: center;

}

.card {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.card img {
    height: 400px;
    width: 400px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}

